.header-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.header-container a {
    text-decoration: none;
    color: black;
}
.header-container ul {
    display: flex;
    list-style: none;
}

.header-container li {
    margin-right: 3rem;
    cursor: pointer;
}