.header-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.header-container a {
    text-decoration: none;
    color: black;
}
.header-container ul {
    display: flex;
    list-style: none;
}

.header-container li {
    margin-right: 3rem;
    cursor: pointer;
}

.user-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    margin-top: -0.6rem;
    border: 2px solid black;
    border-radius: 100px;
}