.cases-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cases-card {
    margin: 0 2rem;
    width: 25rem;
    height: 10rem;
    background: linear-gradient(260.52deg, rgba(0, 194, 255, 0.2) 0%, rgba(189, 0, 255, 0) 99.37%), linear-gradient(80.1deg, rgba(128, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(113, 127, 255, 0.254);;
    color: white;
    text-align: center;
    padding: 1.5rem 0rem;
    border-radius: 5px;
    box-shadow: 16px 19px 69px -16px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
}

.cases-card h1 {
    font-weight: 600;
}

.cases-card p:nth-child(3){
    color: rgb(13, 232, 13);
}

.death p:nth-child(3){
    color: rgba(224, 11, 25, 0.648);
}